body  {
  background-color: black;
}

h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
}
.wrapper {

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.statusArea {
  display: inline-block;
  width: 26%;
  height: 800px;
  background-color: lightgrey;
  margin: 3%;
  margin-left: 10%;
  border-radius: 30px;
  vertical-align: top;
  padding: 20px;
}

.gameArea {
display: inline-block;
width: 50%;
height: 800px;
background-color: lightgreen;
margin: 3%;
border-radius: 30px;
}

.computerArea {
  display: block;
  height: 20%;
  background-color: lightgreen;
  width: 90%;
  margin: auto;
}
.boardArea {
  display: block;
  position: relative;
  height: 20%;
  background-color: lightgreen;
  width: 90%;
  margin: auto;
  background: url("../images/poker-table-for-website.png") no-repeat;
  background-size: cover;
}
  .boardCardContainer {
    margin: auto;
    width: 370px;
    height: 100px;
    background-color: lightgreen;
    border-top: 100px;

}
.humanArea {
  display: block;
  height: 20%;
  background-color: rgba(0, 255, 0, 0);
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid black;
}
.buttonArea {
  display: block;
  height: 20%;
  background-color: lightgreen;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid black;
}
.computerCards {
  display: inline-block;
  width: 350px;
  height: 150px;
  margin: auto;
}
#computerCardOne {
  display: inline-block;
  width: 96px;
  height: 140px;
  background-color: white;
}
#computerCardTwo {
  display: inline-block;
  width: 96px;
  height: 140px;
  background-color: white;
}

.humanCards {
  width: 220px;
  height: 150px;
  margin: auto;
}
#humanCardOne {
  display: inline-block;
  width: 96px;
  height: 140px;
  background-color: white;

}
#humanCardTwo {
  float: right;
  display: inline-block;
  width: 96px;
  height: 140px;
  background-color: white;
}
.bettingButtons {
  display: inline-block;
  width: 100px;
  height: 40px;
}
#foldButton {
  background-color: orange;
}
#callButton {
  background-color: yellow;
}
#betButton {
  background-color: green;
}
.bettingButtonContainer {
  margin: auto;
  width: 60%;
}
#computerPot {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px 25px 0 25px;
}
.boardCard {
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}
#nextHandButton {
  width: 100px;
  height: 50px;
  margin: auto;
}
