body  {
  background-color: black;
}

h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
}

.gameContainer {
  margin: -20px;
}

#statusArea {
  display: inline-block;
  width: 25%;
  height: 760px;
  background-color: lightgrey;
  margin: 5%;
  border-radius: 20px;
  vertical-align: top;
  padding: 20px;
}

.gameArea {
  display: inline-block;
  width: 50%;
  height: 800px;
  background-color: lightgreen;
  margin: 5%;
  border-radius: 20px;
}

.computerCardContainer {
  display: inline-block;
  width: 350px;
  height: 150px;
  margin: 10px 35%;
}

#computerCard1 {
  display: inline-block;
  width: 96px;
  height: 140px;
}

#computerCard2 {
  display: inline-block;
  width: 96px;
  height: 140px;
}

#computerStackArea {
  display: block;
  width: 30%;
  height: 50px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.boardArea {
  display: block;
  height: 160px;
  background-color: lightgreen;
  width: 90%;
  margin: auto;
  background: url("../images/poker-table-for-website.png") no-repeat;
  background-size: cover;

}
#boardCardContainer {
  display: inline-block;
  margin: 35px 20% auto;
  width: 358px;
  height: 100px;
  background-color: white;
}

.boardCard {
  float: left;
}

#potArea {
  display: block;
  width: 30%;
  height: 30px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

.humanCardContainer {
  display: inline-block;
  width: 350px;
  height: 150px;
  margin: 10px 35%;
}

#humanCard1 {
  display: inline-block;
  width: 96px;
  height: 140px;


}
#humanCard2 {
  display: inline-block;
  width: 96px;
  height: 140px;
}

#humanStackArea {
  display: block;
  width: 30%;
  height: 30px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.buttonArea {
  display: block;
  height: 80px;
  background-color: lightgreen;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}

.bettingButtonContainer {
  margin: auto;
  width: 60%;
}

.bettingButtons {
  display: inline-block;
  width: 110px;
  margin: auto;
  height: 50px;
}
#foldButton {
  background-color: orange;
}
#callButton {
  background-color: yellow;
}
#betButton {
  background-color: green;
}

#nextHandButton {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0 42% auto;
}
